 {{#each blogs as |blog| }}
    <div class="card blog-card" id={{id}}>
        <div class="card-header">
            <h2 class="card-title">
                <a class="blog-title" href="/blog/{{id}}">{{title}} </a>
            </h2>
            <h3 class="card-posted-date">
                Posted by {{user.username}} on {{format_date create_date}}
            </h3>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{content}}
            </p>
        </div>
    </div>
{{/each}}